section.entry {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}
section.entry .date {
  align-self: center;
  margin: 10px 0;
}
section.entry .entry__motto-container {
  display: flex;
  justify-content: space-between;
}
section.entry h2 {
  margin: 10px 0;
  font-size: 1.2rem;
}
section.entry p {
  margin: 0;
}
