.entry-form {
  margin: 0 0 70px 0;
}
.form {
  display: flex;
  flex-direction: column;
}
.form h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-weight: normal;
}
.form-input,
.form-textarea,
.form-button {
  margin: 0 0 2rem;
  width: 100%;
  min-height: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #999;
}
.form-textarea {
  resize: none;
}
label {
  font-size: 0.9rem;
  margin: 0 0 5px 2px;
  color: #666;
  display: inline-block;
}
